<div class="containerApp">

    <div class="center">
        <div>
            <img src="assets/image/contos/Dhiab_le_nomade.jpg" style="width: 80%;" alt="Lupin">
        </div>
    </div>
    <div class="center">
        <h3>Dhiab le nomade</h3>
    </div>
    <div class="center">
        <p> <b>Origine de la collecte : Algérie</b></p>
    </div>
    <div class="center">
        <p>Un jour, avant de changer de campement, les sages de la tribu désignèrent un groupe de jeunes garçons
            pour repérer les terres de leur nouvelle destination. Parmi eux, seul le jeune Dhiab se distinguer
            en surprenant les sages ! Lui, le subtil, l’éveillé leur livrera point par point ce qu’il avait détecté
            en observant les traces sur le sable..</p>
    </div>
    <div class="center">
        <audio controls>
            <source src="assets/audio/alg_07_ar-dhiab_le_nomade.mp3" type="audio/mpeg">
        </audio>
    </div>

</div>

<style>
    .cards {
        display: flex;
        padding: 32px;
        padding-top: 52px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        padding: 1rem 1.5rem;
        border-radius: 36px;
        max-height: 468px;
        box-shadow: 20px 20px 50px -30px #DBC4FF;
    }

    .card2 {
        margin-bottom: 32px;
    }


    .icon {
        width: 100px;
        height: 100px;
    }

    img {
        width: 100%;
    }

    h3 {
        font-size: 100%;
        margin: 16px 0;
    }

    span {
        font-weight: 300;
        max-width: 240px;
        font-size: 80%;
        text-align: justify;
    }

    .play-conto {
        cursor: pointer;
        border: 0;
        width: 34px;
        height: 34px;
        background-color: white;
        background-image: url('assets/image/icons/play_circle_outline.png');
        text-decoration: none;
    }

    .linha {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
</style>

<script>

    $(document).ready(function () {

    });
</script>