<div class="containerApp">
  
  <div class="center">
    <section class="card card2">
      <div class="icon">
        <img src="assets/image/contos/Dhiab_le_nomade.jpg" alt="Lupin">
      </div>
      <div class="linha">
        <h3>Dhiab le nomade</h3>
        <a href="#/audio-contos.html?audio=alg_07_ar-dhiab_le_nomade.mp3" class="play-conto"></a>
      </div>

      <span>Un jour, avant de changer de campement, les sages de la tribu désignèrent un groupe de jeunes garçons
        pour repérer les terres de leur nouvelle destination. Parmi eux, seul le jeune Dhiab se distinguer
        en surprenant les sages ! Lui, le subtil, l’éveillé leur livrera point par point ce qu’il avait détecté
        en observant les traces sur le sable..</span>

    </section>
  </div>
  <div class="center">
    <section class="card card2">
      <div class="icon">
        <img src="assets/image/contos/image1.png" alt="Lupin">
      </div>
      <div class="linha">
        <h3>Lupin</h3>
        <a href="#/" class="play-conto"></a>
      </div>

      <span>A alta sociedade francesa diverte-se a bordo do transatlântico Provence,
        quando chega a notícia. Arsène Lupin, o ladrão impossível de se capturar,
        viaja disfarçado entre os passageiros. Eis a chance de o Inspetor Ganimard
        prender o homem capaz de realizar crimes perfeitos e fugas espetaculares.</span>

    </section>
  </div>
  <div class="center">
    <section class="card card2">
      <div class="icon">
        <img src="assets/image/contos/image2.png" alt="O pequeno príncipe." class="icon">
      </div>
      <div class="linha">
        <h3>O Pequeno Príncipe</h3>
        <a href="#/" class="play-conto"></a>
      </div>

      <span>A história mágica, sensível, comovente, do encontro de um uma frágil criança, que diz ter
        vindo de um pequeno planeta distante, e um piloto que caiu com seu avião em um deserto.
        Neste encontro, em meio a convivência no deserto, os dois repensam os seus valores e
        encontram o sentido da vida.</span>

    </section>
  </div>

  <div class="center">
    <section class="card">
      <div class="icon">
        <img src="assets/image/contos/image3.png" alt="A Bela e a Fera." class="icon">
      </div>
      <div class="linha">
        <h3>A Bela e a Fera</h3>
        <a href="#/" class="play-conto"></a>
      </div>

      <span>Moradora de uma pequena aldeia francesa, Bela tem o pai capturado pela Fera e
        decide entregar sua vida ao estranho ser em troca da liberdade do progenitor.
        No castelo, ela conhece objetos mágicos e descobre que a Fera é na verdade
        um príncipe que precisa de amor para voltar à forma humana.</span>

    </section>
  </div>
</div>

<style>
  .cards {
    display: flex;
    padding: 32px;
    padding-top: 52px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 36px;
    max-height: 468px;
    box-shadow: 20px 20px 50px -30px #DBC4FF;
  }

  .card2 {
    margin-bottom: 32px;
  }


  .icon {
    width: 100px;
    height: 100px;
  }

  img {
    width: 100%;
  }

  h3 {
    font-size: 100%;
    margin: 16px 0;
  }

  span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    text-align: justify;
  }

  .play-conto {
    cursor: pointer;
    border: 0;
    width: 34px;
    height: 34px;
    background-color: white;
    background-image: url('assets/image/icons/play_circle_outline.png');
    text-decoration: none;
  }

  .linha {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
</style>

<script>
$('#tittle-header').html('Contos Francófanos'); 
    $('#slogan-header').text('Pratique sua interpretação.');
  $(document).ready(function () {

  });
</script>