<div class="containerApp">
    <div class="center">
        <p style="font-weight: bold; color: #002654; font-size: 32px; padding: 23px;">
            Lupin
        </p>
    </div>
    <div class="center">
        <img src="assets/image/contos/image4.png">
    </div>

    <div class="center">
        <a href="#/contos.html" class="center" style="padding: 23px;">
            <img src="assets/image/icons/play1.png">
        </a>
    </div>
</div>

<script>
    $('#tittle-header').html('Contos Francófanos'); 
    $('#slogan-header').text('Pratique sua interpretação.');

    $(document).ready(function () {

    });
</script>