<div class="containerApp">
    <div class="center">
        <img src="assets/image/tutorial/discovery.png">
    </div>
    <p>
        Que tal desobrir como se pronuncia o nome de um objeto em francês? É simples! 
        Basta apontar sua câmera para o objeto desejado.
    </p>
    <div class="center">
        <a href="#/get-pic.html" class="btn-t center">Desoberta</a>
    </div>
</div>

<script>
    $('#tittle-header').html('Descoberta'); 
    $('#slogan-header').text('Aponte sua câmera para um objeto.');

    $(document).ready(function () {

    });
</script>
