<div class="containerApp">
    <div class="center">
        <p style="font-weight: bold; color: #002654; font-size: 23px; padding-top: 23px; 
        padding-right: 122px;">
            Félicitations pour le coup!!
        </p>
    </div>
    <div class="center">
        <img src="assets/image/tutorial/giveaway.png">
    </div>
    <div class="center">
        <a href="#/contos.html" class="btn-t center">Voltar</a>
    </div>
</div>

<script>
    $('#tittle-header').html('Contos Francófanos'); 
    $('#slogan-header').text('Pratique sua interpretação.');

    $(document).ready(function () {

    });
</script>