<div class="containerApp">
    <div class="center">
        <img src="assets/image/tutorial/guia.png">
    </div>
    <p>
        Conheça curiosidades e os locais mais famosos e turísticos dos países Francófanos. 
        Aqui, você terá uma imersão bem aprofundada sobre essa linda cultura!
    </p>
    <div class="center">
        <a href="ponto1.html" class="btn-t center">Conhecer</a>
    </div>
</div>

<script>
    $('#tittle-header').html('Guia Turístico'); 
    $('#slogan-header').text('Os lugares mais famosos dos Países Francófanos.');

    $(document).ready(function () {

    });
</script>