<div class="containerApp">
    <div class="center">
        <img src="assets/image/tutorial/ranking.png">
    </div>
    <p>
        Aqui você pode conferir como anda o seu desempenho, sua posição e o seu XP. 
        Lembre-se: quanto mais praticar, maior a chance de ser premiado!!
    </p>
    <div class="center">
        <a href="ranking.html" class="btn-t center">Avançar</a>
    </div>
</div>

<script>
    $('#tittle-header').html('Ranking'); 
    $('#slogan-header').text('Preparado para buscar sua medalha?');

    $(document).ready(function () {

    });
</script>